<ng-container *ngIf="!loading">
  <ng-container *ngIf="verifyInfo?.type === VerifyEmailTypeEnum.REGISTER">
    <h3>Вы успешно подтвердили свою почту!</h3>
    <button pButton label="Войти" class="p-button-success mt-3" routerLink="/user/login"></button>
  </ng-container>
  <ng-container *ngIf="verifyInfo?.type === VerifyEmailTypeEnum.RECOVERY">
    <div class="grid justify-content-center">
      <div class="xl:col-4 md:col-6 col-12">
        <ng-container *ngIf="!recoveryStep; else nextStepRecovery">
          <h1 class="text-center">Восстановление пароля</h1>
          <grace-change-password-form (save)="recovery($event)"></grace-change-password-form>
        </ng-container>
        <ng-template #nextStepRecovery>
          <h3 class="text-center">Пароль успешно изменен!</h3>
          <div class="flex justify-content-center">
            <button pButton label="Войти" class="p-button-success mt-3" routerLink="/user/login"></button>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!verifyInfo">
    <h3>Ссылка не действительная</h3>
  </ng-container>
</ng-container>

<grace-spinner *ngIf="loading"></grace-spinner>
