{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "trailingComma": "none",
  "semi": true,
  "arrowParens": "always",
  "proseWrap": "always"
}
