<div class="p-fluid">
  <div class="field">
    <label class="font-bold required-field">Название</label>
    <input type="text" pInputText [ngClass]="{ 'ng-invalid ng-dirty': errors?.name }" [(ngModel)]="task.name" />
    <p *ngIf="errors?.name" class="p-error">{{ errors.name | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold">Описание</label>
    <p-editor [(ngModel)]="task.description" [style]="{ 'height': '250px' }" [ngClass]="{ 'ng-invalid ng-dirty': errors?.description }"></p-editor>
    <p *ngIf="errors?.description" class="p-error">{{ errors.description | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold">Исполнитель</label>
    <scrum-single-select [options]="users"
                         [(selectedItem)]="task.executor"
                         [ngClass]="{ 'ng-invalid ng-dirty': errors?.executor }"
                         [showClear]="true"
                         appendTo="body"
                         optionLabel="login"
                         filterBy="login">
    </scrum-single-select>
    <p *ngIf="errors?.executor" class="p-error">{{ errors.executor | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold">Спринт</label>
    <scrum-single-select [options]="sprints"
                         [(selectedItem)]="task.sprint"
                         [showClear]="true"
                         appendTo="body"
                         [ngClass]="{ 'ng-invalid ng-dirty': errors?.sprint }">
    </scrum-single-select>
    <p *ngIf="errors?.sprint" class="p-error">{{ errors.sprint | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold required-field">Приоритет</label>
    <scrum-single-select [options]="priorities"
                         [(selectedItem)]="task.priority"
                         [ngClass]="{ 'ng-invalid ng-dirty': errors?.priority }"
                         [isTemplateCombined]="true"
                         appendTo="body"
                         [filter]="false"
                         dataKey="name">
      <ng-template #itemTemplate let-priority="item">{{ priority.value | taskPriorityName }}</ng-template>
    </scrum-single-select>
    <p *ngIf="errors?.priority" class="p-error">{{ errors.priority | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold">Оценка (ч.)</label>
    <p-inputNumber [(ngModel)]="task.grade" [styleClass]="errors?.grade ? 'ng-invalid ng-dirty' : ''"></p-inputNumber>
    <p *ngIf="errors?.grade" class="p-error">{{ errors.grade | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold">Дедлайн</label>
    <scrum-datepicker [(value)]="task.deadline" [ngClass]="{ 'ng-invalid ng-dirty': errors?.deadline }"></scrum-datepicker>
    <p *ngIf="errors?.deadline" class="p-error">{{ errors.deadline | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold">Вложенные файлы</label>
    <div *ngIf="task.files?.length" class="flex gap-4 mb-1">
      <ng-container *ngFor="let file of task.files">
        <scrum-file *ngIf="file" [file]="file" [canDelete]="true" (delete)="deleteFile(file)"></scrum-file>
      </ng-container>
    </div>
    <scrum-file-uploader [multiple]="true" [maxFileSize]="52428800" (filesUploaded)="filesUploaded($event)"></scrum-file-uploader>
    <p *ngIf="errors?.files" class="p-error">{{ errors.files | join }}</p>
  </div>

</div>

<div class="flex flex-wrap justify-content-between mt-5">
  <div>
    <button pButton [label]="saveButtonLabel" class="p-button-success mr-2" (click)="onSave(task)"></button>
    <scrum-go-back-button *ngIf="showBack" [route]="route" [queryParams]="queryParams"></scrum-go-back-button>
  </div>
  <button *ngIf="canDelete" pButton [label]="'Удалить'" class="p-button-danger p-button-text mr-2" (click)="delete.emit(task)"></button>
</div>
