<div class="grid align-content-center">
  <div class="col-12">
    <p-card styleClass="text-center bg-blue-50">
      <h1>Ваш персональный трекер задач</h1>
      <h3 class="text-gray-500">Управляйте своей командой с помощью списков задач и спринтов</h3>
    </p-card>
  </div>
  <div class="lg:col-6 col-12">
    <p-card styleClass="text-center bg-blue-50 h-full">
      <div class="grid align-items-center">
        <div class="col-6">
          <h2>Несколько досок</h2>
          <h3 class="text-gray-500">Вы можете одновременно создавать и быть сразу в нескольких досках</h3>
        </div>
        <div class="col-6">
          <p-image src="assets/main_01.png" alt="Доски" imageClass="w-full"></p-image>
        </div>
      </div>
    </p-card>
  </div>
  <div class="lg:col-6 col-12">
    <p-card styleClass="text-center bg-blue-50 h-full">
      <div class="grid align-items-center">
        <div class="col-6">
          <h2>Удобный интерфейс трекера задач</h2>
          <h3 class="text-gray-500">Интуитивно понятная система ведения задач, можно с легкостью создавать, перетаскивать по статусам, задавать приоритеты задачам</h3>
        </div>
        <div class="col-6">
          <p-image src="assets/main_02.png" alt="Доска" imageClass="w-full"></p-image>
        </div>
      </div>
    </p-card>
  </div>
  <div class="lg:col-6 col-12">
    <p-card styleClass="text-center bg-blue-50 h-full">
      <div class="grid align-items-center mt-8">
        <div class="col-6">
          <h2>Удобное составление планов</h2>
          <h3 class="text-gray-500">Можно создавать спринты и планировать список задач на конкретный период</h3>
        </div>
        <div class="col-6">
          <p-image src="assets/main_03.png" alt="Спринты" imageClass="w-full"></p-image>
        </div>
      </div>
    </p-card>
  </div>
  <div class="lg:col-6 col-12">
    <p-card styleClass="text-center bg-blue-50 h-full">
      <div class="grid align-items-center">
        <div class="col-6">
          <h2>Отчетность</h2>
          <h3 class="text-gray-500">Визуально удобные отчеты для просмотра работоспособности сотрудников</h3>
        </div>
        <div class="col-6">
          <p-image src="assets/main_04.png" alt="Отчеты" imageClass="w-full"></p-image>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12">
    <p-card styleClass="text-center bg-blue-50">
      <h1 class="mb-0">Желаете начать?</h1>
      <h4 class="text-gray-500 mt-2">Вперед за работу</h4>
      <button pButton type="button" label="Войти" class="p-button-info mr-4" routerLink="/user/login"></button>
      <button pButton type="button" label="Регистрация" class="p-button-success" routerLink="/user/register"></button>
    </p-card>
  </div>
</div>
