/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  color: #212121;
  font-family: "Avenir Next Cyr", "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus, .p-focus {
  box-shadow: none !important;
}

p {
  margin: 0;
  padding: 0;
}

.required-field {
  &::after {
    content: '*';
    margin-left: 5px;
    color: red;
  }
}

a {
  text-decoration: none;
  color: #5892dc;
}

a:visited {
  color: #5892dc;
}

a:hover {
  color: #86aede;
}

.p-overlaypanel {
  &.dropdown-overlay-panel {
    .p-overlaypanel-content {
      padding: 0;
    }
  }

  &.informer-overlay-panel {
    position: fixed;
    display: block !important;
    top: unset !important;
    bottom: 40px;

    &::before,
    &::after {
      content: none;
    }
  }
}

.no-results {
  padding: 2rem;
  text-align: center;
  animation: scaleIn 0.2s;

  i.pi {
    font-size: 70px;
    color: #afafaf;
  }
}

.p-calendar .p-datepicker {
  min-width: 300px !important;
}

.p-calendar {

  .p-datepicker {
    min-width: 300px !important;

    table td > span.p-highlight {
      color: #000000;
      background: #cfe9fd;
    }
  }
}

.p-datepicker table td {
  padding: 0.1rem !important;
}

.p-calendar > input.text-datepicker-input {
  width: 220px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-family: Lato, "Helvetica Neue", sans-serif !important;
  font-size: 24px;
  color: #4a9aff;
  cursor: pointer;
}

.p-card {
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%) !important;
  .p-card-title {
    font-size: 1.25rem;
  }
  &.compact-card,
  &.very-compact-card {
    .p-card-body {
      padding: 0 !important;
    }

    .p-card-title {
      padding: 1.25rem 1.25rem 0 1.25rem !important;
    }
  }

  &.very-compact-card {
    .p-card-content {
      padding: 0 !important;
    }
  }
}

.p-chip {
  padding: 0 0.5rem !important;
}

.p-chip .p-chip-text {
  margin: 0 !important;
  font-size: 0.9rem !important;
}
