<div class="bg-indigo-50 shadow-3 w-full fixed top-0 z-5">
  <div class="grid grid-nogutter justify-content-center">
    <div class="col-11">
      <div class="flex justify-content-between align-items-center flex-wrap">
        <p class="text-2xl my-3">
          <a routerLink="/" class="text-black-alpha-90 font-bold">
            Scrum
          </a>
        </p>
        <div>
          <p-avatar *ngIf="!authService.currentUser"
                    icon="pi pi-user" size="large"
                    styleClass="cursor-pointer"
                    shape="circle"
                    routerLink="/user/login">
          </p-avatar>
          <grace-user-avatar *ngIf="authService.currentUser"
                             [user]="userAvatar"
                             (click)="op.toggle($event)">
          </grace-user-avatar>
          <p-overlayPanel #op styleClass="dropdown-overlay-panel">
            <ng-template pTemplate>
              <p-menu [model]="menuHeader"
                      [style]="{ 'border': 'none' }"
                      styleClass="w-full"
                      (click)="op.hide()">
              </p-menu>
            </ng-template>
          </p-overlayPanel>
        </div>
      </div>
    </div>
  </div>
</div>
