.drop-task {
  &.p-draggable-enter {
    border-color: var(--green-300) !important;
    background-color: var(--green-50) !important;
  }
}

.p-buttonset .p-button {
  padding: 0.4rem !important;

  .p-button-label {
    font-size: 0.9rem !important;
  }
}
