.drop-column {
  border: 1px dotted transparent;
  transition: border-color .2s;

  &.p-draggable-enter {
    border-color: var(--primary-color);
  }
}

.cards-hidden {
  display: none;
}

.p-buttonset .p-button {
  padding: 0.4rem !important;

  .p-button-label {
    font-size: 0.9rem !important;
  }
}
