<div class="grid justify-content-center">
  <div class="xl:col-4 md:col-6 col-12">
    <ng-container *ngIf="!nextStep">
      <h1 class="text-center">Восстановление пароля</h1>
      <ng-container *ngIf="!loading">
        <scrum-recovery-form (save)="click($event)"></scrum-recovery-form>
        <div class="mt-4">
          <a class="text-lg" routerLink="/user/login">Назад</a>
        </div>
      </ng-container>
      <scrum-spinner *ngIf="loading"></scrum-spinner>
    </ng-container>
    <div *ngIf="nextStep" class="text-center">
      <h3>На эту почту было отправлено письмо с дальнейшими инструкциями.</h3>
    </div>
  </div>
</div>
