<scrum-table name="sprintWorkUsersInfo"
             [columns]="columns"
             [values]="values">
  <ng-template #rowTemplate let-info="item">
    <tr *ngIf="toInfo(info) as info">
      <td>
        <ng-container *ngIf="info.user; else noUser">
          <div class="flex align-items-center gap-2">
            <scrum-user-avatar [user]="{ name: info.user?.name, login: info.user?.login, file: info.user?.avatar }" size=""></scrum-user-avatar>
            <p class="h-full">{{ info.user?.name || info.user?.login }}</p>
          </div>
        </ng-container>
        <ng-template #noUser>Не назначен</ng-template>
      </td>
      <td>{{ info.count ? (info.count | number) : 0 }}</td>
      <td>{{ info.grade ? (info.grade | number) : 0 }} ч.</td>
      <td>{{ info.left ? (info.left | number) : 0 }} ч.</td>
    </tr>
  </ng-template>
  <ng-template #footerTemplate>
    <tr>
      <td>
        <p class="font-bold">ИТОГО:</p>
      </td>
      <td>{{ sprint.sumInfo?.count ? (sprint.sumInfo?.count | number) : 0 }}</td>
      <td>{{ sprint.sumInfo?.grade ? (sprint.sumInfo?.grade | number) : 0 }} ч.</td>
      <td>{{ sprint.sumInfo?.left ? (sprint.sumInfo?.left | number) : 0 }} ч.</td>
    </tr>
  </ng-template>
</scrum-table>
