<h1 class="text-center">Регистрация</h1>
<div *ngIf="!loading" class="p-fluid">
  <div class="field">
    <label class="font-bold required-field">Почта</label>
    <input type="email" pInputText class="{{ errors?.email || errorEmail ? 'ng-invalid ng-dirty' : '' }}"
           [(ngModel)]="userRegister.email" (ngModelChange)="changeEmail($event)" />
    <p *ngIf="errors?.email" class="p-error">{{ errors.email | join }}</p>
    <p *ngIf="errorEmail" class="p-error">{{ errorEmail }}</p>
  </div>

  <div class="field">
    <label class="font-bold required-field">Логин</label>
    <input type="text" pInputText class="{{ errors?.login || errorLogin ? 'ng-invalid ng-dirty' : '' }}"
           (ngModelChange)="changeLogin($event)"
           [(ngModel)]="userRegister.login" />
    <p *ngIf="errors?.login" class="p-error">{{ errors.login | join }}</p>
    <p *ngIf="errorLogin" class="p-error">{{ errorLogin }}</p>
  </div>

  <div class="field">
    <label class="font-bold">ФИО</label>
    <input type="email" pInputText
           [ngClass]="{ 'ng-invalid ng-dirty': errors?.name }"
           [(ngModel)]="userRegister.name" />
    <p *ngIf="errors?.name" class="p-error">{{ errors.name | join }}</p>
  </div>

  <div class="field">
    <label class="font-bold required-field">Пароль</label>
    <div class="p-inputgroup">
      <input pInputText type="text"
             [(ngModel)]="userRegister.password"
             [ngClass]="{ 'ng-invalid ng-dirty': errors?.password }"
             autocomplete="new-password" />
      <button type="button" pButton label="Сгенерировать" (click)="generatePassword()" class="p-button-secondary"></button>
    </div>
    <p *ngIf="errors?.password" class="p-error">{{ errors?.password }}</p>
  </div>

  <div class="field">
    <label class="font-bold required-field">Повтор пароля</label>
    <input pInputText type="password"
           [(ngModel)]="passwordRepeat"
           class="w-full"
           [ngClass]="{ 'ng-invalid ng-dirty': errorPasswordRepeat }"
           autocomplete="new-password" />
    <p *ngIf="errorPasswordRepeat" class="p-error">{{ errorPasswordRepeat }}</p>
  </div>
</div>

<button *ngIf="!loading" pButton label="Регистрация" class="p-button-success w-full" (click)="onSave(userRegister)"></button>

<grace-spinner *ngIf="loading" class="mt-5"></grace-spinner>
